@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.aboutMe {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}
.aboutMeTop {
  flex: 8;
  width: 100%;
  /* border: 1px solid white; */
}
.aboutMeBottom {
  flex: 1;
  /* border: 1px solid white; */
  color: white;
  width: 100%;
}
.contactTitle {
  display: flex;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;
  flex-direction: row;
  align-items: center;
}

.contactTitle:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}
.contactHr {
  color: white;
  width: 45vw;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  /* margin-top: 14px; */
}
.contactDetails {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.contactNumber,
.contactEmail,
.contactLinkedIn,
.contactGitHub {
  /* border: 1px solid wheat; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 5vh;
  /* cursor: pointer; */
}

.contactNumber > i,
.contactEmail > i,
.contactLinkedIn > i,
.contactGitHub > i {
  cursor: pointer;
}

.contactNumber > i:hover,
.contactEmail > i:hover,
.contactLinkedIn > i:hover,
.contactGitHub > i:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

.contactBoxContainer {
  display: none;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-self: center;
  position: absolute;
}
.contactBox {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  cursor: pointer;
  z-index: 101;
  height: 100%;
  width: 100%;
  position: absolute;
}
.contactBoxText {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 40vh;
  background-color: #555;
  font-family: 'Source Code Pro', monospace;
  font-size: 5vh;
  border-radius: 10px;
  cursor: default;
  z-index: 101;
}
#image1,
#image2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: calc((40vw + 40vh) / 2);
  max-height: 50vh;
  min-height: 300px;
  z-index: 1;
  margin-top: 15vh;
  border-radius: 50%;
  cursor: none;
}

.aboutMeTop > .aboutMeMiddle > #profileImageSection:hover > .mask {
  opacity: 1;
}

.mask {
  transition: opacity 0.2s;
  opacity: 0;
  clip-path: circle(0px at 0px 0px);
}

#profileImageSection {
  display: flex;
  flex: 1;
  min-height: 500px;
}

.aboutMeTop {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.aboutMeLeft {
  display: flex;
  flex: 1;
  /* height: 90vh; */
  align-items: center;
  justify-content: flex-start;
  /* font-family: 'Titillium Web', sans-serif; */
  color: white;
  flex-direction: column;
  margin-top: 80px;
}
.aboutMeMiddle {
  display: flex;
  flex: 1.2;
  /* height: 90vh; */
  z-index: 20;
}
.aboutMeRight {
  display: flex;
  flex: 1;
  /* height: 90vh; */
  align-items: center;
  justify-content: flex-start;
  /* font-family: 'Titillium Web', sans-serif; */
  color: white;
  flex-direction: column;
  margin-top: 80px;
}
.description {
  font-family: 'Source Code Pro', monospace;
  line-height: 25px;
  font-size: calc((1.2vw + 1.2vh) / 2);
}
.description > ul > li:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

.description > ul > ul > li:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}
.description > ul > ul > li {
  margin-left: 50px;
}
.hero:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

.skills {
  display: flex;
  flex: 10;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
}
.skill {
  width: 2vw;
  display: flex;
  flex-direction: column;
}
.skillTitle {
  transform: rotate(90deg);
  color: white;
  margin-top: 20px;
  font-size: 20px;
}
.skillBar {
  background-color: white;
  height: 1%;
  margin-top: 110px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
  /* padding: 10px; */
  width: 100%;
}

#skillBar1 {
  height: 49vh;
  animation: skillBar1Grow 3s forwards;
  display: none;
}
#skillBar2 {
  height: 49vh;
  animation: skillBar2Grow 3s forwards;
  display: none;
}
#skillBar3 {
  height: 49vh;
  animation: skillBar3Grow 3s forwards;
  display: none;
}
#skillBar4 {
  height: 28vh;
  animation: skillBar4Grow 3s forwards;
  display: none;
}
#skillBar5 {
  height: 35vh;
  animation: skillBar5Grow 3s forwards;
  display: none;
}
#skillBar6 {
  height: 35vh;
  animation: skillBar6Grow 3s forwards;
  display: none;
}
#skillBar7 {
  height: 35vh;
  animation: skillBar7Grow 3s forwards;
  display: none;
}
#skillBar8 {
  height: 70vh;
  animation: skillBar8Grow 3s forwards;
  display: none;
}

@keyframes skillBar1Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 49vh;
  }
}
@keyframes skillBar2Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 49vh;
  }
}
@keyframes skillBar3Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 49vh;
  }
}
@keyframes skillBar4Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 28vh;
  }
}
@keyframes skillBar5Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 35vh;
  }
}
@keyframes skillBar6Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 35vh;
  }
}
@keyframes skillBar7Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 35vh;
  }
}
@keyframes skillBar8Grow {
  0% {
    height: 0vh;
  }
  20% {
    height: 0vh;
  }
  100% {
    height: 70vh;
  }
}
.skill:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}
.skill:hover > .skillBar {
  background-color: black;
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
  border: 2px solid yellow;
}
.skill:hover + div > .text {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

.resume {
  font-family: 'Source Code Pro', monospace;
  display: grid;
  grid-template-columns: 20px 1fr 1fr 20px;
  grid-template-rows: 6vh 1fr 20px;
}

.resumeLeft {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 100%;
  justify-content: start;
  align-items: start;
}
.resumeRight {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 100%;
  justify-content: start;
  align-items: start;
}

.details {
  color: white;
  width: fit-content;
  flex-direction: column;
  display: flex;
  padding-top: 50px;
  /* justify-content: space-evenly; */
  height: 100%;
  gap: 50px;
}

.details > div > h3 {
  padding: 5px 5px 0px 5px;
  margin: 5px 5px 0px 5px;
  font-size: 30px;
}
.details > div > h3:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}
.details > div > p {
  padding: 0px 5px 10px 5px;
  margin: 5px 5px 0px 5px;
  font-size: 20px;
}
