.portfolio {
  right: 100vw;
  /* color: aliceblue; */
}

.aboutMe {
  right: 100vw;
  /* color: aliceblue; */
}

.resume {
  right: 100vw;
  /* color: aliceblue; */
}

.portfolioGrid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5vh 1fr 1fr 1fr 20px;
  grid-template-columns: 20px 1fr 1fr 1fr 20px;
  gap: 10px;
}
.portfolioItem1 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 100%;
  position: relative;
  cursor: pointer;
  /* background-color: aliceblue; */
  border-radius: 10px;
}
.portfolioItem2 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  height: 100%;
  position: relative;
  cursor: pointer;
  /* background-color: aliceblue; */
  border-radius: 10px;
}
.portfolioItem3 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  height: 100%;
  position: relative;
  cursor: pointer;
  /* background-color: aliceblue; */
  border-radius: 10px;
}

.portfolioGrid > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  z-index: 2;
}

.itemDescription {
  z-index: 0;
  position: absolute;
  background-color: transparent;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  text-align: center;
}

.portfolioItem1:hover > .itemDescription {
  transition: 500ms;
  opacity: 100%;
  border: 2px solid yellow;
  border-radius: 10px;
  color: yellow;
  background-color: rgb(3, 3, 78);
}
.portfolioItem1:not(:hover) > .itemDescription {
  transition: 500ms;
  opacity: 0%;
}
.portfolioItem1:hover > img {
  opacity: 0%;
  transition: 500ms;
}
.portfolioItem1:not(:hover) > img {
  opacity: 100%;
  transition: 500ms;
}
.portfolioItem1:hover {
  transform: scale(1.2);
  transition: 500ms;
  transform-origin: top left;
  z-index: 2;
}

.portfolioItem1:not(:hover) {
  transform: scale(1);
  transition: 500ms;
  transform-origin: top left;
}
/* 
*/
.portfolioItem2:hover > .itemDescription {
  transition: 500ms;
  opacity: 100%;
  border: 2px solid red;
  border-radius: 10px;
  color: black;
  background-color: rgb(139, 0, 0);
}
.portfolioItem2:not(:hover) > .itemDescription {
  transition: 500ms;
  opacity: 0%;
}
.portfolioItem2:hover > img {
  opacity: 0%;
  transition: 500ms;
}
.portfolioItem2:not(:hover) > img {
  opacity: 100%;
  transition: 500ms;
}
.portfolioItem2:hover {
  transform: scale(1.2);
  transition: 500ms;
  transform-origin: top;
  z-index: 2;
}

.portfolioItem2:not(:hover) {
  transform: scale(1);
  transition: 500ms;
  transform-origin: top;
}
/* 
*/
.portfolioItem3:hover > .itemDescription {
  transition: 500ms;
  opacity: 100%;
  border: 2px solid brown;
  border-radius: 10px;
  color: black;
  background-color: #639243;
}
.portfolioItem3:not(:hover) > .itemDescription {
  transition: 500ms;
  opacity: 0%;
}
.portfolioItem3:hover > img {
  opacity: 0%;
  transition: 500ms;
}
.portfolioItem3:not(:hover) > img {
  opacity: 100%;
  transition: 500ms;
}
.portfolioItem3:hover {
  transform: scale(1.2);
  transition: 500ms;
  transform-origin: left;
  z-index: 2;
}

.portfolioItem3:not(:hover) {
  transform: scale(1);
  transition: 500ms;
  transform-origin: left;
}
